{% extends "new_custom_admin/base.html" %}
{% load static %}
{% block bodycontent %}
<link rel="stylesheet" href="{% static "jquery/json_viewer/css/jjsonviewer.css"%}">
<div  class="page coupon-single-coupon-page">
	<div class="pageheader">
		<h2 class="page-header">Test API</h2>
		<div class="page-bar">
			<ul class="page-breadcrumb">
				<li>
					<a href="/movinCartAdmin/"><i class="fa fa-home"></i> MovinCart</a>
				</li>
				<li>
					<a href="#">Product Per Category  API Detail</a>
				</li>
			</ul>
		</div>
	</div>
	<div class="add-nav">
		<div role="tabpanel">
			<!-- Nav tabs -->
			<div class="tab-content">
				<!-- tab in tabs -->
				<div role="tabpanel" class="tab-pane active" id="details">
					<!-- row -->
					<div class="row">
						<!-- col -->
						<div class="col-md-12">
							<!-- tile -->
							<form action="" method="GET" id="myForm" class="form-horizontal ng-pristine ng-valid" role="form">
								{% csrf_token %}
								<section class="tile">
									<!-- tile header -->
									<div class="tile-header dvd dvd-btm">
										<h1 class="custom-font"><strong>Product Per Category API Details </strong></h1>
									</div>
									<!-- /tile header -->
									<!-- tile body -->
									<div class="form-group">
										<label for="locations" class="col-sm-2 control-label">Location ID: <span class="text-lightred text-md"></span></label>
										<div class="col-sm-6">
											<select tabindex="1" name="location" id="id_location"  class="chosen-select" style="width: 93%;" >
												<option value="">--------------------</option>
												{% for l in locations %}
												<option value="{{l.id}}" >{{l.sub_area}}</option>
												{% endfor %}
											</select>
										</div>
									</div>
									<div class="form-group">
										<label for="category" class="col-sm-2 control-label">Category: <span class="text-lightred text-md"></span></label>
										<div class="col-sm-6">
											<select tabindex="1" multiple name="location" id="id_category"  class="chosen-select" style="width: 93%;" >
												<option value="">--------------------</option>
												{% for l in category %}
												<option value="{{l.id}}" >{{l.name}}</option>
												{% endfor %}
											</select>
										</div>
									</div>
									<ul class="pager">
										<li>
											<a href="#" onclick="validate_n_submit()" class="btn btn-ef btn-ef-1 btn-ef-1-success btn-ef-1b mb-10" data-toggle="tooltip" title="Save"><i>Submit</i></a>
										</li>
									</ul>
								</section>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="tile-body" id="image_div" ></div>
	<div id = "placeholder"></div>
</div>
{% endblock %}
{% block jscontent %}

<script src="{% static "jquery/json_viewer/js/jjsonviewer.js"%}"></script>

<script>

function validate_n_submit() {

	var a=document.getElementById("id_location").value;
	var selected=$('#id_category').val();
	var b = selected.join(";");
	var url ='/api/v2/products_per_cat/?category_ids='+b+'&location='+5;
	$(document).ready(function(){
		    document.getElementById("image_div").innerHTML='<img src="{% static "ajax-loader.gif"%}"  style="padding-top:17px;padding-bottom:17px;margin-left: 48%;"/>';
		$(document).ajaxStart(function(){
			$("#wait").css("display", "block");
		});
		$(document).ajaxComplete(function(){
			$("#wait").css("display", "none");
		});
		$.getJSON(url,function(data){
			$("#placeholder").jJsonViewer(data);
		});
	});
}
</script>
{% endblock %}
